body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('jym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.left {
    position: absolute;
    left: 4px;
    top: 0px;
    display: inline-block;
    /* border: 2px solid red; */
}
.left img {
    width: 100px;
}
.left div {
    line-height: 19px;
    font-size: 17px;
    text-align: center;
}
.mid {
    display: block;
    width: 60%;
    margin: 7px auto;
    /* border: 2px solid green; */
}
.right {
    position: absolute;
    right: 10px;
    top: 16px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar {
    display: inline-block;
}
.navbar li {
    color: white;
    display: inline-block;
    font-size: 25px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active {
    text-decoration: underline;
    color: gray;
}
.btn {
font-family:"https://fonts.googleapis.com/css?family=Baloo+Bhai";
margin: 0px 9px;
background-color: black;
color: white;
padding: 4px 14px;
border: 2px solid gray;
border-radius:10px;
font-size: 20px;
cursor: pointer;
}
.btn:hover {
    background-color: rgb(97, 91, 91);
}
.container {
    border: 1px solid white;
    margin: 126px 20px;
    padding: 0px;
    width: 42%;
    border-radius: 38px;
}
.form-group input {
font-family: "https://fonts.googleapis.com/css?family=Baloo+Bhai";
text-align: center;
display: block;
width: 508px;
padding: 1px;
border: 2px solid black;
margin: 11px auto;
font-size: 25px;
border-radius: 8px;

}
.container h1{
text-align:center;
margin: 45px;
color:gold;
}
.container button {
display:block;
width: 95%;
margin: 20px auto;

}